html {
	background: url('background.jpg') no-repeat center center fixed;
}
	body {
	border: 10px solid ##225533;
	padding-left: 400px;
	padding-right:400px;
	text align: center;
}

img {
   padding: 4px;
   border-color: #000080;
   background: #000080;
}

h1 {
	padding-top: 30px;
	color: #000;
	text-align: center;
}

h2 {
	color: #000;
	text-align: center;
}

h3 {
	color: #000;
	text-align: center;
	border-top: 1 px solid #000;
}

ul {
	text-align: center;
	list-style-position: inside;
}

li {
	text-align: center;
	padding: 3px;
}

.gallery li {
	display: inline-block;
	margin: 0 2% 2% 0;
	transition: border-color .3s;
	padding-right: 0px;
	padding-left: 0px;	
}

.gallery li:hover {
	box-shadow: 0 0 10px #DCDCDC;
}

.wrap {
	margin: 0 3%;
}

footer{
	clear: both;
	border-top: 1px solid #e3e3e3;
}

